numpy==1.18.1
chardet==3.0.4
pandas==0.25.1
spacy==2.2.4
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.2.5/en_core_web_sm-2.2.5.tar.gz
https://github.com/explosion/spacy-models/releases/download/fr_core_news_sm-2.2.5/fr_core_news_sm-2.2.5.tar.gz
click==7.1.1
matplotlib==3.1.1
tqdm==4.45.0
biterm==0.1.5
flashtext==2.7
ftfy==5.8
gensim==3.7.1
ipython==7.18.1
nlpaug==0.0.20
nltk==3.5
phonenumbers==8.12.9
pyLDAvis==2.1.2
pytest==6.0.2
python-dotenv==0.14.0
regex==2020.7.14
sacremoses==0.0.43
scikit_learn==0.23.2
stop_words==2018.7.23
wordcloud==1.8.0
summa==1.2.0
pylint==2.4.4
