# local package
#-e .

# external requirements
Sphinx
sphinx_rtd_theme
coverage
python-dotenv>=0.5.1
pillow
pytest

#library requirements
pyLDAvis==2.1.2
gensim==3.7.1
sacremoses==0.0.13
stop-words==2018.7.23
spacy==2.1.3
ftfy<5.0.0,>=4.2.0
wordcloud>=1.5.0
matplotlib>=3.0.3
mosestokenizer
numpy>1.15.4
stop_words==2018.7.23
nltk>=3.4.5
textblob==0.15.3
textblob_fr==0.2.0
pandas>=0.23.4
chardet==3.0.4
setuptools==40.8.0
textacy==0.6.3
#fastText==0.8.3
gensim==3.7.1
scikit_learn==0.20.3
vaderSentiment==3.2.1
google-compute-engine==2.8.13
flashtext==2.7
phonenumbers==8.10.12
regex==2019.8.19
emoji>=0.5.2
summa==1.2.0
biterm==0.1.5





